.icons {
  font-size: 110px;
  text-align: center;
  width: 120px;
  height: 120px;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#nav-logo {
  width: 150px;
  height: auto;
}

.paw-bg {
  background-image: url(./assets/paw.png);
  background-repeat: round;
  background-size: 150px;
  
}